.header {
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  display: flex;
  box-shadow: 0 2px 4px #0000000d;
}

.logo {
  margin-right: 50px;
}

.logo__img {
  width: 40px;
  height: 40px;
  display: block;
}

.nav__list {
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
}

.nav__item {
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  display: flex;
}

.nav__list > .nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  color: #060b35;
  text-transform: uppercase;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  position: relative;
}

.nav__link:hover, .is-active {
  color: #00acdc;
}

.is-active:after {
  content: "";
  background-color: #00acdc;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  display: block;
  position: absolute;
  bottom: 0;
}

.card {
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  flex-direction: column;
  width: 200px;
  height: 408px;
  padding: 32px 16px 16px;
  display: flex;
}

.card__img {
  object-fit: contain;
  flex-shrink: 0;
  align-self: center;
  width: 160px;
  height: 134px;
  margin-bottom: 40px;
}

.card__text {
  margin: 0;
}

.card__title {
  width: 166px;
  height: 36px;
  margin-bottom: 4px;
  line-height: 18px;
}

.card__code {
  color: #616070;
  width: 98px;
  height: 14px;
  margin-bottom: 16px;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

.card__review {
  justify-content: space-between;
  align-items: center;
  width: 166px;
  height: 16px;
  margin-bottom: 24px;
  display: flex;
}

.card__number-of-reviews {
  text-align: right;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: flex-end;
  width: 53px;
  height: 16px;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  display: flex;
}

.card__price {
  justify-content: space-between;
  align-items: center;
  width: 166px;
  height: 18px;
  margin-bottom: 16px;
  line-height: 18px;
  display: flex;
}

.card__label-of-price {
  color: #616070;
  font-size: 12px;
  font-weight: 400;
}

.card__value-of-price {
  font-size: 16px;
  font-weight: 700;
}

.card__button {
  color: #fff;
  text-transform: uppercase;
  background-color: #00acdc;
  border-radius: 5px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  display: flex;
}

.card__button:hover {
  color: #00acdc;
  background-color: #fff;
  border: 1px solid #00acdc;
}

.card:hover {
  transform: scale(1.2);
}

.card:hover .card__title {
  color: #34568b;
}

.stars {
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  width: 96px;
  height: 16px;
  display: flex;
}

.stars--1, .stars--2, .stars--3, .stars--4, .stars--5 {
  background-image: url("star.fa806e3c.svg");
  background-size: fill;
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.stars--1, .stars--2, .stars--3, .stars--4 {
  background-image: url("star-active.2be54011.svg");
}

* {
  box-sizing: border-box;
}

html {
  color: #060b35;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
}

body {
  margin: 0;
}

.card, .card__title, .card__button, .card__buy-link, .nav__link {
  transition-duration: .3s;
}

.main {
  grid-template-columns: repeat(1, 200px);
  justify-content: center;
  gap: 46px 48px;
  padding: 50px 40px;
  display: grid;
}

@media (width >= 488px) {
  .main {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (width >= 768px) {
  .main {
    grid-template-columns: repeat(3, 200px);
  }
}

@media (width >= 1024px) {
  .main {
    grid-template-columns: repeat(4, 200px);
  }
}

/*# sourceMappingURL=index.971c2ea4.css.map */
